.container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 7rem;
  font-family: 'Gothic A1', sans-serif;
}

.container .serviceBox {
  position: relative;
  width: 350px;
  height: 280px;
  background-color: rgb(190, 190, 190);
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
}

.container .serviceBox2 {
  position: relative;
  width: 350px;
  height: 280px;
  background-color: rgb(190, 190, 190);
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid rgb(220, 220, 220);
}

.container .serviceBox .icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #404040;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  color: white;
  z-index: 2;
}

.container .serviceBox2 .icon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  color: black;
  z-index: 2;
}

.container .serviceBox .icon3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00cc66;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  color: white;
  z-index: 2;
}

.container .serviceBox .icon4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ff6666;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  color: white;
  z-index: 2;
}

.container .serviceBox .icon5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #b266ff;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  color: white;
  z-index: 2;
}

.container .serviceBox .icon6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(240, 240, 240);
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1.2px;
}

.container .serviceBox:hover .icon1 {
  top: 20px;
  left: calc(50% - 50px);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 2.5em;
}

.container .serviceBox2:hover .icon2 {
  top: 20px;
  left: calc(50% - 50px);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 2.5em;
}

.container .serviceBox:hover .icon3 {
  top: 20px;
  left: calc(50% - 50px);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 2.5em;
}

.container .serviceBox:hover .icon4 {
  top: 20px;
  left: calc(50% - 50px);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 2.5em;
}

.container .serviceBox:hover .icon5 {
  top: 20px;
  left: calc(50% - 50px);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 2.5em;
}

.container .serviceBox .content {
  position: relative;
  padding: 20px;
  color: white;
  text-align: center;
  margin-top: 115px;
}

.container .serviceBox2 .content p {
  margin-bottom: 0.5rem;
  letter-spacing: 1px;
  line-height: 1.2rem;
}
.container .serviceBox .content p {
  margin-bottom: 0.5rem;
  letter-spacing: 1px;
  line-height: 1.2rem;
}

.container .serviceBox .content a {
  position: relative;
  padding: 20px;
  color: white;
  text-align: center;
  margin-top: 100px;
  color: #5b44ff;
}

.container .serviceBox .content h2 {
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
  letter-spacing: 1.2px;
}

.container .serviceBox2 .content {
  position: relative;
  padding: 20px;
  color: white;
  text-align: center;
  margin-top: 115px;
  z-index: 1;
}

.container .serviceBox2 .content h2 {
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
  letter-spacing: 1.2px;
}

.container .serviceBox2 .content a {
  color: #5b44ff;
}

@media screen and (max-width: 500px) {
  .container .serviceBox .icon1 {
    top: 20px;
    left: calc(50% - 50px);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 2.5em;
  }
  .container .serviceBox2 .icon2 {
    top: 20px;
    left: calc(50% - 50px);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 2.5em;
  }
  .container .serviceBox .icon3 {
    top: 20px;
    left: calc(50% - 50px);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 2.5em;
  }
  .container .serviceBox .icon4 {
    top: 20px;
    left: calc(50% - 50px);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 2.5em;
  }
  .container .serviceBox .icon5 {
    top: 20px;
    left: calc(50% - 50px);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 2.5em;
  }
  .container {
      margin-bottom: 3rem;
      margin-top: 3rem;
  }
}
